@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('images/bg-intro-mobile.png');
    background-color: hsl(0, 100%, 74%);
    color: #fff;
    padding: 5em 1em;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 8px 0px rgba(62, 60, 73, 0.2);
}

.hero {
    margin-top: 1em;
    text-align: center;
}

h1 {
    line-height: 1.2;
    font-size: 1.8rem;
    margin: 1em 0;
}

.try-it {
    padding: 15px 40px;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    border-radius: 10px;
    margin: 1.5em 0;
}

.try-it span {
    font-weight: bold;
}

.info {
    padding: 25px;
    margin: 1em 0;
    background-color: #fff;
    border-radius: 10px;
    color: hsl(246, 25%, 77%);
    text-align: center;
}

form input {
    width: 100%;
    padding: 15px;
    margin: 0.5em auto;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-size: 0.9rem;
}

input::placeholder {
    font-weight: 600;
    color: hsl(249, 10%, 50%);
    font-size: 0.9rem;
}

input:focus {
    outline: none;
}

.button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    margin: .5em 0;
    box-shadow: 0 4px 0 hsl(154, 59%, 45%);
}

.button:hover {
    cursor: pointer;
}

.disclamer {
    font-size: .7rem;
    padding: 0 1em;
    margin-top: 1em;
}

.disclamer span {
    font-weight: bold;
    color: hsl(0, 100%, 74%);
}

.input-box {
    position: relative;
}

.error-icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
}

.error-msg {
    text-align: right;
    font-size: .7rem;
    font-style: italic;
    color: hsl(0, 100%, 74%);
    margin-bottom: 1em;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 500px;
    }

}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

    body {
        margin: auto 3.5rem;
        background-image: url('images/bg-intro-desktop.png');
    }

    .container {
        flex-direction: row;
        max-width: 1100px;
        align-items: center;
        justify-content: space-between;
    }

    .hero {
        text-align: left;
        flex: 50%;
        max-width: 45%;
    }

    h1 {
        font-size: 2.9rem;
        margin: .5em 0;
    }


    .free-trial {
        flex: 50%;
        max-width: 50%;
    }

    .attribution {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 100%);
    }
}